<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blog Website</title>
</head>
<body>

    <div class="navbar">
        
        <div class="leftBar">
            <h1>Daily Journal</h1>
        </div>

        <div class="rightBar">
            <a href="/home">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/contact">CONTACT</a>
            <a href="/compose">COMPOSE</a>

        </div>
    </div>

    <div class="container">